.line {
    display: flex;
    justify-content: space-between;
    padding: .25em;
    font-size: 1.5em;
}

.action {
    background-color: #fff;
    color: #222;
    font-size: .9em;
    padding: .1em .2em;
    margin-right: 1em;
    cursor: pointer;
    border: 1px solid #222;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.action:hover {
    color: #fb3;
}